<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wellcare Forum</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='forum_style.css') }}">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="header-top">
     <div class="logo">
        <img src="icons/Wellcare.png" class="logo"></img>
      </div>
        <h1>ellcare</h1>
        <nav class="top-nav desktop-nav">
          <a href="{{ url_for('dashboard') }}"><span>Home</span></a>
          <span class="active">Forum</span></a>
          <a href="{{ url_for('consult') }}"><span>Consult</span></a>
          <a href="{{ url_for('edu') }}"><span>Educational</span></a>
          <a href="{{ url_for('home') }}"><span>Profile</span></a>
        </nav>
      </div>
    </div>
  </header>

  <main class="main-content">
    <div class="search-filter">
      <input type="text" placeholder="Search" />
      <button>Filter</button>
    </div>

    <div class="forum-list">
  {% for post in posts %}
  <a href="{{ url_for('forum_detail', post_id=post[0]) }}"><div class="forum-card">
    <div class="timestamp">{{ post[4] }}</div>
    <div class="forum-header">
      <div class="avatar"></div>
      <div class="forum-content">
        <h3>
          {{ post[1] }}
        </h3>
        <p>{{ post[2] }}</p>
        <div class="tag">By {{ post[3] }}</div>
      </div>
      <div class="more-icon">
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>
  </div></a>
  {% endfor %}

  {% if posts|length == 0 %}
  <p>No forum posts yet.</p>
  {% endif %}
</div>
  </main>

  <nav class="mobile-nav">
    <a href="{{ url_for('dashboard') }}">
      <img src="{{ url_for('static', filename='icons/home.png') }}" alt="Home" />
    </a>
    <a href="{{ url_for('forum') }}" class="active">
      <img src="{{ url_for('static', filename='icons/forum.png') }}" alt="Forum" />
    </a>
    <a href="{{ url_for('consult') }}">
      <img src="{{ url_for('static', filename='icons/consult.png') }}" alt="Consult" />
    </a>
    <a href="{{ url_for('edu') }}">
      <img src="{{ url_for('static', filename='icons/educontent.png') }}" alt="Educational" />
    </a>
    <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='icons/user.png') }}" alt="Profile" />
    </a>
  </nav>

  <a href="{{ url_for('crforum') }}" class="floating-btn">
    <img src="{{ url_for('static', filename='icons/pen.png') }}" alt="Create Post">
  </a>

  <script src="forum.js"></script>
</body>

</html>
