<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wellcare Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
     <header>
    <div class="header-top">
      <div class="logo">
        <div class="logo-box"></div>
        <h1>Wellcare</h1>
        <nav class="top-nav desktop-nav">
          <span class="active">Home</span>
          <a href="{{ url_for('forum') }}"><span>Forum</span></a>
          <a href="{{ url_for('consult') }}"><span>Consult</span></a>
          <a href="{{ url_for('edu') }}"><span>Educational</span></a>
          <a href="{{ url_for('home') }}"><span>Profile</span></a>
        </nav>
      </div>
    </div>
  </header>

  <div class="main-home">
    <div class="content-box">
        <h1 class="content-title">Hello User, How are you today?</h1>
    </div>
</div>

<div class="main-home">
    <div class="content-box">
        <h1 class="content-title">Need consulting?</h1>
         <p class="label2">View available therapists on the page below!</p>
    <a href="{{ url_for('consult') }}"><p class="content-info"><button class="consult">Get support</button></p></a>
    </div>
</div>

   <nav class="mobile-nav">
    <a href="{{ url_for('dashboard') }}" class="active">
      <img src="{{ url_for('static', filename='icons/home.png') }}" alt="Home" />
    </a>
    <a href="{{ url_for('forum') }}">
      <img src="{{ url_for('static', filename='icons/forum.png') }}" alt="Forum" />
    </a>
    <a href="{{ url_for('consult') }}">
      <img src="{{ url_for('static', filename='icons/consult.png') }}" alt="Consult" />
    </a>
    <a href="{{ url_for('edu') }}">
      <img src="{{ url_for('static', filename='icons/educontent.png') }}" alt="Educational" />
    </a>
    <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='icons/user.png') }}" alt="Profile" />
    </a>

  </nav>
</body>
</html>
